:host {
    &:before {
        content: "";
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% - 4rem);
        width: 1px;
        background-color: var(--color-alert);
    }

    display: flex;
    justify-content: space-between;
    height: 100%;
}

