.conversation {
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        &__control {
            color: var(--color-low);
            width: 100%;
            position: relative;
            border-left: 15px solid var(--color-alert-trans);
            box-shadow: 1px 1px 0px 1px var(--color-alert-trans);
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 10px;
                width: 5px;
                height: 100%;
                background-color: var(--color-alert-trans);
            }
            &__input {
                width: 100%;
                border-color: transparent;
                background-color: var(--color-high);
                outline: none;
                padding: 0.8rem;
                padding-left: 2rem;
            }
        }
    }
}

.validation {
    color: var(--danger-color);
    position: absolute;
    bottom: -1.2rem;
    left: 0;
}

.invalid {
    color: var(--danger-color);

    input {
        border: 1px solid var(--danger-color);
        outline-color: var(--danger-color);
    }

    border-left: 15px solid var(--danger-color);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        width: 5px;
        height: 100%;
        background-color: var(--danger-color);
    }

    box-shadow: 1px 1px 0px 1px var(--danger-color);
}
