.loading {
    height: 250px;
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--loading-icon-light);
    background-color: transparent;
    height: 250px;
    width: 220px;
    animation: rotateX 2s linear infinite;
    @keyframes rotateX {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(360deg);
        }
    }
}
