@import url("./assets/fonts/nier/stylesheet.scss");

:root {
    --primary: #4081ec;
    --background: #e5e5e5;
    --background-auth: #efefef54;
    --background-primary: rgb(20, 83, 220);
    --danger-color: crimson;
    --success-color: rgb(64, 146, 66);
    --color-alert: rgb(205, 102, 77);
    --color-beige: #e9e3ca;
    --font-light: #fff;
    --font-dark: #000;
    --nier-font: sce-ps3_rodin_latinregular;
    --background-light: url("./assets//wallpapers/light-theme-1080.png")
        center/cover no-repeat;

    --cursor-default: url("./assets/cursors/Hack_Normal_Select_v2.cur"), default;
    --cursor-pointer: url("./assets/cursors/Hack_Link_Select_v2.cur"), default;
    --сursor-text: url("./assets/cursors/Hack_Text_Select_v2.cur"), default;
    --cursor-disabled: url("./assets/cursors/Hack_Unavailable_v2.cur"), default;
    --cursor-link: url("./assets/cursors/Hack_Location_Select.cur"), default;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    overflow-y: scroll;
    background: var(--background-light);
}

ul {
    list-style-type: none;
}

input {
    cursor: var(--сursor-text);
}

body,
label {
    cursor: var(--cursor-default);
}

a {
    cursor: var(--cursor-link);
}

.container {
    max-width: 1600px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100vh;
}

.cybr-btn,
::placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--nier-font), Arial, Helvetica, sans-serif;
}
strong {
    font-family: Arial, Helvetica, sans-serif;
}
