:root {
    --primary: #4081ec;
    --background: #e5e5e5;
    --background-auth: #efefef54;
    --background-primary: rgb(20, 83, 220);
    --danger-color: crimson;
    --success-color: rgb(64, 146, 66);
    --background-orange: #fb5c56;
    --color-beige: #e9e3ca;
    --font-light: #fff;
    --font-dark: #000;
    --background-light: url("./assets//wallpapers/light-theme-1080.png")
        center/cover no-repeat;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100vh;
}

html,
body {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: scroll;
    background: var(--background-light);
}

ul {
    list-style-type: none;
}
