:root {
    --primary: #4081ec;
    --background: #e5e5e5;
    --background-primary: rgb(20, 83, 220);
    --danger-color: crimson;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}
