<div class="people">
    <h2>People</h2>

    <div class="people__buttons">
        <div class="people__buttons__refresh">
            <!-- <div *ngIf="countdownSubscription | async">
                Next update in 
                {{ countdownSubscription | async }}
                 seconds
            </div> -->

            <button class="people__buttons__refresh__button">
                <mat-icon>refresh</mat-icon>
            </button>

            <!-- <button
                class="people__buttons__refresh__button"
                [disabled]="
                    (countdownSubscription | async) ||
                    (this.isGroupLoading$ | async)
                "
                (click)="onRefreshClick()"
            >
                <mat-icon>refresh</mat-icon>
            </button> -->
        </div>
    </div>

    <div class="people__list">
        <ul class="people__list__items">
            <li class="people__list__item"
                *ngFor="let person of people$"
                [ngClass]="{
                    'active-conversation': isConversationActive(person)
                }"
            >
                <a href="#" class="group__list__item__link" >{{
                    person.name.S
                }}</a>
            </li>
        </ul>
    </div>

    <!-- <div
        class="people__list"
        *ngIf="peopleItems$ | async as peopleData; else loading"
    >
        <ul class="people__list__items">
            <li *ngFor="let item of peopleData" class="group__list__item">
                <a [routerLink]="['/conversation', person.uid.S]">{{
                    person.name.S
                }}</a>
               
            </li>
        </ul>
    </div> -->

    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</div>
